<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head th:include="layout :: header"></head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" th:include="layout :: fixed-navbar"></nav>

<div class="container search">

    <div class="row table table-result">
        <div class="col">
            <div class="panel panel-default">
                <div class="panel-heading">About me</div>
                <div class="panel-body">
                    <span>Hi! My name is Jarbas and I've been working with software developement over 10 years.</span>

                    <span>I've been writing code in several languages such as Java, C#, Python, Ruby and a little of groovy.</span>

                    <span>Please checkout my github <a href="https://github.com/randomjs">https://github.com/randomjs</a></span>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
