<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head th:include="layout :: header"></head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" th:include="layout :: fixed-navbar"></nav>

<div class="container search">


    <div class="row">
        <div class="col">
            <ul th:if="${#fields.hasErrors('${search.*}')}" class="error-message">
                <li th:errors="${search.currency}"></li>
                <li th:errors="${search.date}"></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col ">
            <form th:action="@{/}" method="post" th:object="${search}" class="form-inline">


                <select th:field="*{currency}" th:errorclass="input-error" class="form-control form-control-lg">
                    <option value="">Select Currency</option>
                    <option th:each="curr : *{allCurrencies}"
                            th:value="${curr.key}"
                            th:text="${curr.key} + '-' + ${curr.value}">Wireframe</option>
                </select>

                <input th:field="*{date}" data-provide="datepicker" data-date-format="dd/mm/yyyy" type="text"
                       class="form-control mb-2 mr-sm-2 mb-sm-0" th:errorclass="input-error"
                       placeholder="Date">

                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>

</div>
</body>
</html>
